button {
    margin: 10px;
}

#current-page {
    font-size: 1.3em;
    color: white !important; 
    /* '!important' used to add more importance to a property/value than normal. */
    margin-right: 10px;
    margin-left: 10px;
}